<%= form_for(plant) do |f| %>
  <% if plant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plant.errors.count, "error") %> prohibited this plant from being saved:</h2>

      <ul>
      <% plant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :cycle %>
    <%= f.text_field :cycle %>
  </div>

  <div class="field" >
    <%= f.label :profile_photo do %><br />
      <%= f.file_field :profile_photo %>
      <%= f.hidden_field :profile_photo_cache %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
