<p>
  <strong>Name:</strong>
  <%= @plant.name %>
</p>

<p>
  <strong>Cycle:</strong>
  <%= @plant.cycle %>
</p>

<p>
  <strong>Water by:</strong>

</p>




<%= link_to 'Edit', edit_plant_path(@plant) %> |
<%= link_to 'Delete', @plant, method: :delete, data: { confirm: 'Are you sure?' } %>|

<%= link_to 'Back', plants_path %>
