<!DOCTYPE html>
<html>
  <head>
    <title>Planted</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>


  <body class="gen-nav">
    <div class="home-nav">
      <ul>
      <% if user_signed_in? %>
        <li> <a class="Home" <%= link_to "Garden", user_plants_path(current_user) %> </a></li>
        <li> <a class="Profile" <%= link_to "User Profile", edit_user_registration_path %> </a></li>
        <li> <a class="Sign Out" <%= link_to "Sign Out", destroy_user_session_path, method: :delete %> </a></li>
        <%- else -%>
        <li class="Sign In"> <a <%= link_to "Sign In", new_user_session_path %> </a></li>
        <li class="Sign Up"> <a <%= link_to "Sign Up", new_user_registration_path %> </a></li>
        <%end%>
      </ul>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
